project:
  type: website
  output-dir: docs

website:
  navbar:
    left:
    - text: "Home"
      href: index.qmd
    - text: "Process Control & Simulation"
      href: controls.qmd
    # - text: "Topic 2"
    #   href: reactors.qmd

# execute:
#   freeze: auto