/* Remove horizontal scrollbars on figures*/
.quarto-content,
.quarto-content .content,
.quarto-content .figure,
.quarto-content .plotly,
.cell-output-display,
figure,
div.figure {
  overflow-x: hidden !important;
  max-width: 100% !important;
}

.quarto-content img,
.quarto-content canvas {
  max-width: 100% !important;
  height: auto !important;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* center figures */
figure.quarto-figure,
div.figure {
  text-align: center !important;
  margin-left: auto !important;
  margin-right: auto !important;
}

figure.quarto-figure img {
  display: block !important;
  margin-left: auto !important;
  margin-right: auto !important;
}
